<div class="container">
    <div class="card card-register mx-auto mt-5">
        <div class="card-header">Remove A Donor</div>
        <div class="card-body">
            <form action="/admin/donor/delete" method="post">
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="exampleInputName">Social Security Number</label>
                            <input class="form-control" id="exampleInputName" type="text" aria-describedby="nameHelp" placeholder="Enter Social Security Number" name="ssn">
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary btn-block" type="submit">Remove</button>
            </form>
        </div>
    </div>
</div>
