<!--BEGING OF FOOTER-->
<div class="footer"><br>
    <img src = "/image/foot1.png" height = "40" width = "80" /> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <img src = "/image/foot2.jpg" height = "40" width = "80" />&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <img src = "/image/foot3.jpg" height = "40" width = "80" />&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <img src = "/image/foot4.jpg" height = "40" width = "80" />&nbsp&nbsp&nbsp&nbsp&nbsp
    <div class="copyright">© 2019 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com </a>
        <br>
    </div>
</div>
<!--END OF FOOTER-->
