<!--BEGING OF container-->
<div ID = "contain" class="jumbotron jumbotron-fluid">
    <div  class="container">
        <h1 class="display-4">About Us</h1><br>
        <div class="lead">you can contact us throught these interfaces....</div>
        <p class = "phone">&#9742;:(+02) 114-020-0597 </p>
        <p class = "phone">&#9742;:(+02) 122-443-4049 </p>
        <i class="fa fa-at" style="font-size:25px"> <a href="https://mostafaah346@gmail.com"> <strong>:services support </strong> </a> </i><br>
        </br>
        <div class="lead">you can visit us at one of our branches....</div>

        <strong> <p class="branc" > branch 1 : <a href="https://www.google.com/maps/place/%D9%83%D9%84%D9%8A%D8%A9+%D8%A7%D9%84%D9%87%D9%86%D8%AF%D8%B3%D8%A9%D8%8C+%D8%AC%D8%A7%D9%85%D8%B9%D8%A9+%D8%A7%D9%84%D9%82%D8%A7%D9%87%D8%B1%D8%A9%E2%80%AD/@30.0241869,31.2111104,15z/data=!4m5!3m4!1s0x1458472fa8265ddb:0x282c4b44cdf7e83c!8m2!3d30.0262299!4d31.2115842"> Cairo branch   </a> </p>
            <p class="branc" > branch 2 : <a href="https://www.google.com/maps/place/%D9%83%D9%84%D9%8A%D8%A9+%D8%A7%D9%84%D9%87%D9%86%D8%AF%D8%B3%D8%A9%D8%8C+%D8%AC%D8%A7%D9%85%D8%B9%D8%A9+%D8%A7%D9%84%D9%82%D8%A7%D9%87%D8%B1%D8%A9%E2%80%AD/@30.0241869,31.2111104,15z/data=!4m5!3m4!1s0x1458472fa8265ddb:0x282c4b44cdf7e83c!8m2!3d30.0262299!4d31.2115842"> Giza baranch   </a> </p>
            <p class="branc" > branch 3 : <a href="https://www.google.com/maps/place/%D9%83%D9%84%D9%8A%D8%A9+%D8%A7%D9%84%D9%87%D9%86%D8%AF%D8%B3%D8%A9%D8%8C+%D8%AC%D8%A7%D9%85%D8%B9%D8%A9+%D8%A7%D9%84%D9%82%D8%A7%D9%87%D8%B1%D8%A9%E2%80%AD/@30.0241869,31.2111104,15z/data=!4m5!3m4!1s0x1458472fa8265ddb:0x282c4b44cdf7e83c!8m2!3d30.0262299!4d31.2115842"> Qlubia branch   </a> </p>
        </strong>
    </div>
</div>
<!--end OF container-->
