<!--BEGING OF FORM-->
<form action="/api/donor/insert" method="post">
    <div class="form-row">
        &nbsp&nbsp&nbsp&nbsp&nbsp
        <div class="fname">
            <label for="inputEmail4">First name</label>
            <input type="text" class="form-control" id="fname" placeholder="First name" size = "40" name="fname">
        </div>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <div class="lname">
            <label for="inputPassword4">Last name</label>
            <input type="text" class="form-control" id="lname" placeholder="Last name" size = "40" name="lname">
        </div>
    </div>
    <br>
    <div class="form-row">
        &nbsp&nbsp&nbsp&nbsp&nbsp
        <div class="ssn">
            <label for="inputEmail4">Social Security Number</label>
            <input type="text" class="form-control" id="fname" placeholder="SSN" size = "40" name="ssn">
        </div>
    </div>
    <br>
    <div class="form-row">
        &nbsp&nbsp&nbsp&nbsp&nbsp
        <div class="blood type">
            <label for="inputState">blood type</label>
            <select id="inputState" class="form-control" width = "200" name="bloodTybe">
                <option selected = "bt">O-</option>
                <option>O+</option>
                <option>A-</option>
                <option>A+</option>
                <option>B-</option>
                <option>B+</option>
                <option>AB-</option>
                <option>AB+</option>
            </select>
        </div>
    </div>
    <br>
    <div class="form-row">
        &nbsp&nbsp&nbsp&nbsp&nbsp
        <div class="weith">
            <label for="inputEmail4">weight(kg)</label>
            <input type="text" class="form-control" id="weight" placeholder="ex...80" size = "20" name="weight">
        </div>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <div class="Age">
            <label for="Age">Age</label>
            <input type="text" class="form-control" id="lname" placeholder="age" size = "20" name="age">
        </div>
    </div>
    <br>



    <div class="custom-control custom-radio custom-control-inline">
        <p> Tested for diseases?  </p> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline1">YES</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline2">NO</label>
    </div>

    <br><br	>


    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <button type="submit" class="btn btn-primary" >Submmit</button>
</form>
<!--END OF FORM-->




