<!--BEGING OF CONTAINER-->
<div ID = "contain" class="jumbotron jumbotron-fluid">
    <div  class="container">
        <h1 class="display-4"></br>  Welcome to Blood Bank main branch</h1>
        <p class="lead">We offer Blood Donating services if you are willing donate, please visit us at any of our branches.</p>
    </div>
</div>
<!--END OF CONTAINER---->
